@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


// Colors 

$mainBg: hsl(217, 54%, 11%);
$cardBg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$softBlue: hsla(215, 51%, 70%);
$cyanCard: hsla(178, 100%, 50%, .2);
$cyan: hsl(178, 100%, 50%);


// Fonts 
$fontMain: 'Outfit', sans-serif;

//Paragraph 18px